.category-image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 2rem;
  padding: 1rem;
  text-align: left;
  @media screen and (max-width: nth($breakpoint, 3)) {
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  .category-image-item {
    margin-bottom: 1rem;
  }
}
