.specialbar {
  text-align: center;
  margin: 1rem 0;
  .specialbar-input {
    position: relative;
    text-align: left;
    width: 100%;
    max-width: nth($breakpoint, 1);
    margin: 0 auto;
    padding: 0 1rem;
  }
  .special-input  {
    margin: 0 auto;
    border-width: 0.125rem;
    border-radius: 4rem;
    padding: 1.125rem 1rem;
    padding-right: 8rem;
    @media screen and (max-width: nth($breakpoint, 3)) {
      padding-right: 6rem;
    }
  }
  .btn-search {
    position: absolute;
    top: 0.5rem;
    right: 1.75rem;
    height: 3rem;
    border-radius: 3rem;
    svg {
      @media screen and (max-width: nth($breakpoint, 3)) {
        display: none;
      }
    }
    span {
      @media screen and (max-width: nth($breakpoint, 3)) {
        margin-left: 0;
      }
    }
  }

  .hotword-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0.75rem;
    .hotword-item {
      &.label {
        svg {
          path {
            fill: $color-gray;
          }
        }
      }
      button {
        &:hover {
          opacity: 0.6;
        }
        &:active {
          opacity: 1;
        }
      }
    }
    a {
      color: $color-black;
    }
  }
}